*{
    /* background-color: #fae6c1; */
    margin: 0%;
}

/*  Navbar STyle */
.navbar{
    background-color: #fff1d7a6;
    padding: 5px;
    position: sticky;
    top: 0px;
    

}


.navbar-wrapper{
    width:  80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand-div{
    flex: 1;
    margin-left: 20px;
}

.phonie{
    font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
    font-weight: bolder;
    color: purple;
}

.center-item{
    flex: 2;
    flex-direction:     row;
    display: flex;
    list-style-type: none;
    text-align: center;
    
   
    font-size: 20px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: space-evenly;
}
.center-list-item{
    text-decoration: none;
    color:#5245C2 ;
}

.right-navbar{
    flex: 1;
}

.active{
    color: rgb(224, 12, 224) ;
}


/* Home Main div */

.home-div{
    background-color: #e4c180a5;
 
}

.home-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
   max-width:80%;
   
   margin: 0;
   margin: auto;
}

.text-div{
    flex: 1;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
}

.main-text{
    font-family: 'Bree Serif', serif;
    font-size: 62px;
    /* color: #9019ae; */
    color: #5245C2;
}

.img-div{
    flex: 1;
    display: flex;
    flex-direction:  row;
}

.img1{
    width: 40%;
    object-fit: cover;
    
}

.img2{
    width: 80%;
    object-fit: cover;
}


.text2{
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
    color:black
}

.hr{
 
    width: 10%;
    border: 2px solid black;
}


/* Services */

.services{
    margin-top: 50px;
    background-color: #fffaf1a6;
    padding-top: 10px;
  
}



.services-wrapper{
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
  padding-bottom: 30px;
}

.top-div{
    line-height: 35px;

}



.serv-para, .lorem{
    font-size: 22px;
    font-weight: 600;
    font-family: cursive;
}

.exclusive{
    font-size: 30px;
    font-weight: 900;
    color: #6958ff;
  font-family: sans-serif;

}

/* service Cards */

.card-item{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    list-style-type: none;
}

.card-list{
    width: 25%;
    background-color: white;
    margin: 10px;

    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.58);
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.58);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.58);

    border-radius: 10% ;
    border: 0.5px solid black;
}

.card-list-div{
    display: flex;
    flex-direction: column;
    align-items: center;
        line-height: 30px;
        padding: 10px;
}

.card-title{
    font-weight: 900;
    font-size: 20px;
}

.card-text{
    padding: 5px;
    text-align: center;
}

.card-img{
    margin-top: 10px;
    margin-bottom: 10px;
 
    width: 60px;
}

.card-text::first-letter{
    margin-left: 10px;
}


/* Footer  */
footer{
    background-color: #5245C2;
    padding: 10px;

}

.footer-wrapper {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    color: white;
    flex-direction: row;
}

.about-div{
    flex: 1;
    padding: 10px 10px;
    line-height: 25px;
}

.about-h3{
    font-family: serif;
    font-weight: bolder;

    margin-bottom: 10px;
    font-size: 25px;
    color: white
}

.about-para{
    font-size: 20px;
}

.imp-div{
    flex: 1;
    text-align: center;
    display: none;
}

.about-info{
    flex: 1;
    text-align: left;
}

.hrs{
    display: none;
}



                        /*  */
                        /*  */
                        /*  */
                        /*  */
                            /* SERVICES PAGE  */

                            /*  */
                            /*  */
                            /*  */
                            /*  */
                            /*  */
                            /*  */
                            /*  */


    .header-div{
        background-color: #e4c180a5;
        
    }

    .header-wrapper{
        align-items: center;
         max-width:65%;
         margin: 0;
         margin: auto;
         padding-top: 80px;
         padding-bottom: 80px;
    }

    .header-h3{
        font-size: 40px;
        font-family: serif;
        color:#5245C2 ;
        font-weight: bolder;
    }

    .header-para{
        align-items: center;
        font-family: serif;
        margin-top: 10px;
        font-weight: 500;
        font-size: 20px;
    }

    .link-icon{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 16px;
        font-weight: 800;
    }

                                    /* Check Number Divs */

        .check-number-wrapper{
          
                max-width:65%;
                margin: 0;
                justify-content: space-around;
                margin: auto;
                padding-top: 40px;
                padding-bottom: 200px;
                display: flex;
                flex-direction: row;
        }

    .check-number{
        background-color: #f9e7c7a6;
       
    }

    .input-div{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        /* flex: 1; */
    }

    .input{
        border: none;
        padding: 5px;
        background-color: inherit;
        margin-top: 20px;
        border-bottom: 2px black solid;
      
    }

    .input::placeholder{
        font-size: 15px;
        font-weight: 600;
    }

    .check-btn{
        margin-top: 10px;
    }

    .btn{
        padding: 10px 10px;
        color: white;
        font-weight: 900;
        background-color: #5245C2;
        border-radius: 10%;
        border: 2px black solid;
        cursor: pointer;
        box-shadow: 10px 8px 0px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 8px 0px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 8px 0px -2px rgba(0,0,0,0.75);
    }


    .result-div{
        background-color: rgb(233, 226, 226);
        text-align: left;
        /* flex: 1; */
        padding: 10px;
        box-shadow: 12px 16px 0px 4px rgba(0,0,0,0.75);
        -webkit-box-shadow: 12px 16px 0px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 12px 16px 0px 4px rgba(0,0,0,0.75);
    }

    .result-h3{
        font-size: 22px;
        
        color: #5245C2;
        }
     

    .response-ul{
        list-style-type: none;
        padding: 10px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    

    .li-div{
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    .li-para{
        font-size: 25px;
        font-weight: 700;
    }

    .li-input{
        margin-left: 10px;
        font-size: 20px;
        font-weight: 500;
    }



    






/* MEdia Query  */
/* MEdia Query  */
/* MEdia Query  */
/* MEdia Query  */
/* MEdia Query  */
/* MEdia Query  */
/* MEdia Query  */
/* MEdia Query  */
/* MEdia Query  */
/* MEdia Query  */

@media (max-width: 480px) {
   
    .navbar-wrapper{
        display: flex;
        flex-direction: column;

    }

    .center-item{
        display: flex;
        flex-direction: row;
      
    }

    .center-list-item{
        margin-right: 15px;
     
     
    }


        /* Card items in services  */


    .card-item{
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
    }

    .card-list{
        width: auto;
            
        } 

}







@media (max-width: 768px) {
    .navbar-wrapper{
        display: flex;
        flex-direction: column;

    }

        .center-item{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }


        .bar{
            margin-left: 10px;
            height: 20px;
            margin-right: 10px;
            border: 1px black solid;
        
        }


        /* Home Div */
        .home-wrapper{
                flex-direction: column;
                display: flex;
                align-items: center;
        }

        .text-div{
            flex:1
        }

        .img2{
            display: none;
        }

        .img1{
            display: none;

        }
        .img-div{
            flex: 1;
          
        }


        /* Card items in services  */

        .card-item{
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
        }

        .card-list{
        width: auto;
            
        } 

        /* Footer  */
        .footer-wrapper{
            display: flex;
            flex-direction: column;
        }
        .about-info{
            margin-top: 10px;
        }

        .hrs{
            display: block;
            margin-top: 20px;
        }

        .imp-div{
            display: block;
            margin-top: 10px;
        }
        
}








@media (max-width :1000px ){

   /* Card items in services  */


    .card-item{
        flex-wrap: wrap;
        display: flex;
        flex-direction: flex;
    }
    
    .card-list{
        width: 45%;
    }

       
    .img2{
      width: 400px;
      height: auto;
      flex: 1;
    }

    .img1{
        display: none;

    }
    .img-div{
        flex: 1;
      flex-wrap: wrap;
    }

    /* Services  */
    .check-number-wrapper{
        display: flex;
        flex-direction: column;
    }

    .result-div{
        margin-top: 30px;
    }
}

                            /*          End OF Media Query  */
                            /*          End OF Media Query  */
                            /*          End OF Media Query  */
                            /*          End OF Media Query  */
                            /*          End OF Media Query  */
                            /*          End OF Media Query  */
                            /*          End OF Media Query  */
                            /*          End OF Media Query  */

